body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5dc; /* Beige background color */
}

.container {
    position: relative;
}

.eye {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    top: 29%; /* Adjust this value to move the eyes down */
}

.sclera {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 50%;
    margin: 10%;
}

.retina {
    position: absolute;
    width: 80%; /* Adjust the width for larger retina */
    height: 80%; /* Adjust the height for larger retina */
    background-color: #000;
    border-radius: 50%;
    top: 20%; /* Adjust the top position for larger retina */
    left: 12.5%; /* Adjust the left position for larger retina */
}

#left-eye {
    left: calc(50% - 57px);
}

#right-eye {
    left: calc(50% + 13px);
}

@media (max-width: 600px) {
    .eye {
        top: 20%; /* Adjust this value for mobile positioning */
    }
}

/* Default styles for screens larger than 600px */
.eye {
    top: 27%; /* Adjust this value for desktop positioning */
}

.mascot {
    width: 400px;
    height: 400px;
    z-index: 0;
}

.container2{
    position: relative;
}

.title{
    padding: 0;
}

.title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #004AAD;
    z-index: 1;
}

.logo {
    width: 50px;
    height: 50px;
}